---
import { Icon } from 'astro-icon/components';
---

<button
  class='md:hidden hamburger'
  aria-expanded='false'
  aria-label='open menu'
>
  <Icon name='pajamas:hamburger' class='cursor-pointer size-8' />
</button>
