---
import { Icon } from 'astro-icon/components';
---

<button
  class='md:hidden hamburger cursor-pointer'
  aria-expanded='false'
  aria-label='open menu'
>
  <Icon name='pajamas:hamburger' class='icon-hamburger size-8' />
  <Icon name='pajamas:close' class='icon-close hidden size-8' />
</button>
