---
const logoImage = '#';
const logoAlt = 'camping logo';
const logoText = 'camping';
---

<div>
  <img src={logoImage} alt={logoAlt} class='sr-only' />
  <span class='capitalize font-black text-2xl'>{logoText}</span>
</div>
